
@import url();
@import url();
@import url();

:root{
    --cor-de-fundo:#77A42E ;
    --cor-de-texto:white ;

}
body{
    background-color: var(--cor-de-fundo);
    
}
.container--botao{
    background-color: var(--botao-principal);
    color: var(--cor-texto);
    padding: 1em;
    border-radius: 5px;
    text-decoration: none;
}