
@import url();
@import url();
@import url();

:root{
    --cor-de-fundo:#77A42E ;
    --cor-de-texto: ;

}
body{
    background-color: var(--cor-de-fundo);
    
}
.container--botao{
    background-color: var(--botao-principal);
    color: var(--cor-texto);
    padding: 1em;
    border-radius: 5px;
    text-decoration: none;
    
}
.logo1{
    width: 20%;

}
.logo2{
  width: 20%;

}
.cabecalho{
    background: black;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.container{
    background: black;
    font-size: 30px;
    color: aliceblue;
}
.container--dois{
background-color: #536B2B;
}
.container--tres{
   background: #6F962E;
}