.cabeçalho {
    width: 24px;
    height: 24px;
    display: flexbox
    background-image:url("../menu2-removebg-preview.png");
    background-repeat: no-repeat;
    background-position: center;
}

.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

