@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

.cabeçalho {
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.container{
    position: relative;
}


.container-titulo{
    font-size: 80px;
    color: aliceblue;
    position:absolute;
    top: 15px;
    font-family: "Josefin Sans", sans-serif;
    }

