@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');



.cabeçalho {
    background: rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.container{
    position: relative;
}


.container-titulo{
    font-size: 80px;
    color: aliceblue;
    position:absolute;
    top: 15px;
    font-family: "Josefin Sans", sans-serif;
    }
    .container--dois{
        padding: 20px;
        color: aliceblue;
        margin-bottom: 25px;
        font-family: "Josefin Sans", sans-serif;
    }

    .container--tres{
        padding: 20px;
        color: aliceblue;
        margin-bottom: 25px;
        font-family: "Josefin Sans", sans-serif;
    }